@import "tailwindcss";
@config "../tailwind.config.js";

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
},
body {
  overflow-x: hidden;
}
.nav-link {
  @apply font-medium text-gray-800 hover:text-yellow-400 transition;
}

.mobile-link {
  @apply block text-center py-2 font-medium hover:bg-gray-100;
}

.btn-purple { @apply bg-purple-500 text-white px-4 py-2 rounded-lg hover:bg-purple-600 transition; }
.btn-indigo { @apply bg-indigo-500 text-white px-4 py-2 rounded-lg hover:bg-indigo-600 transition; }
.btn-blue   { @apply bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition; }
.btn-yellow { @apply bg-yellow-400 text-gray-900 px-4 py-2 rounded-lg hover:bg-yellow-500 transition; }
.btn-green  { @apply bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition; }
.btn-black  { @apply bg-black text-white px-4 py-2 rounded-lg hover:bg-gray-800 transition; }


/* .custom-quill-editor {
  min-height: calc(5 * 20px); 
  max-height: calc(15 * 20px);
  overflow-y: auto; 
}

.custom-quill-editor .ql-editor {
  font-size: 16px;
  line-height: 1.5;
} */

/* For Dynamic rows */
/* .custom-quill-editor {
  height: 10em; 
}

.custom-quill-editor .ql-editor {
  font-size: 16px;
  line-height: 1.5;
} */
