@import "tailwindcss";
@config "../tailwind.config.js";

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
},
body {
  overflow-x: hidden;
}
.nav-link {
  @apply font-medium text-gray-800 hover:text-yellow-400 transition;
}

.btn-primary-purple {
  @apply rounded-lg bg-purple-500 px-4 py-2 text-white hover:bg-purple-600 transition;
}

.btn-primary-indigo {
  @apply rounded-lg bg-indigo-500 px-4 py-2 text-white hover:bg-indigo-600 transition;
}

.btn-primary-blue {
  @apply rounded-lg bg-blue-500 px-4 py-2 text-white hover:bg-blue-600 transition;
}

.btn-primary-yellow {
  @apply rounded-lg bg-yellow-400 px-4 py-2 text-gray-900 hover:bg-yellow-500 transition;
}

/* .custom-quill-editor {
  min-height: calc(5 * 20px); 
  max-height: calc(15 * 20px);
  overflow-y: auto; 
}

.custom-quill-editor .ql-editor {
  font-size: 16px;
  line-height: 1.5;
} */

/* For Dynamic rows */
/* .custom-quill-editor {
  height: 10em; 
}

.custom-quill-editor .ql-editor {
  font-size: 16px;
  line-height: 1.5;
} */
